
/* Global */

body {
	margin:0;
	padding:0;
}

h1, h2, p, a {
font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h1 {
	color: rgb(1,83,99);
	font-size: 40px;	
	font-weight: lighter;
}

h2 {
font-size: 23px;
	color: #82AEB7;
}

p {
	color: #606060;
font-family: 'Spectral', serif;
font-size: 18px;
}

.container {
	margin:0 100px;
}

/* Header */

header {
	background-color: #9ed5da;
	height:50px;
}

header ul {
list-style: none;
display: flex;
}

header li {
	margin-left:50px;
}

header a {
text-decoration: none;
text-transform: uppercase;
font-size: 16px;
}


header .container {
	display: flex;
	justify-content: space-between;
}


/* Showcase */

#showcase {
	background: url(http://kimberlyana.github.io/noclouds.png);
	background-size:cover;
	background-position: bottom;
	opacity:.5s;
	min-height:800px;
	text-align: center;
}

#showcase h1 {
	font-size: 80px;
	padding-top:100px;
	margin:0;
	font-family: 'Sacramento', cursive;
}

#showcase p {
	color: rgba(1,83,99,.75);	
	margin:-10px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

/* button */

button {
	height: 40px;
	width: 160px;
	font: 15px Garamond, Avenir, Calibri;
	text-transform: uppercase;
	background-color: #9ed5da;
	display:inline;
	border:none;
	border-radius: 50px;

}

button:hover { 
	background-color: #4ed5da;
}










/* animations */

.cloud {
	position: relative;
	width: 130px;
	height: 40px;
	border-radius: 50px;
	background:#fff;
	animation: move 10s linear infinite;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
}


.cloud:before
{
	content:'';
	position: absolute;
	top:-20px;
	left: 25px;
	background:#fff;
	width:40px;
	height:40px;
	border-radius: 50%;
}

.cloud:after
{
	content:'';
	position: absolute;
	top:-25px;
	left: 55px;
	background:#fff;
	width:50px;
	height:50px;
	border-radius: 50%;
}


.left-cloud {
	position:absolute;
	top:50%;
	left:18%;
	transform: translate(-50%, -50%);
		animation: move 10s linear infinite;
}

.middle-cloud {
	position:absolute;
	top:60%;
	left:60%;
	transform: translate(-50%, -50%);
		animation: move 6s linear infinite;
}

.right-cloud {
	position:absolute;
	top:40%;
	left:70%;
	transform: translate(-50%, -50%);
		animation: move 15s linear infinite;
}

@keyframes move {
	0%
	{
		transform: translate(0);
	}

		50%
	{
		transform: translate(18px);
	}

		100%
	{
		transform: translate(0);
	}
}



