<script src="https://kit.fontawesome.com/5aaf39bd61.js"></script>

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  margin:0 30px 30px 90px;

}

.top-margin {
  height:35px;
  background-color: white;
  position: sticky;
  top:0;
}

/* ----------------------------- SHOWCASE ---------------------------------*/
.showcase{
  background-color:rgb(249,227,215);
  height:100vh;
  overflow:hidden;
  display:flex;
}

.showcase-content {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.showcase-text {
  width:40%;
}

@media (max-width: 1150px) {

  .showcase-img {
    width:40%;
  }
  .showcase-img img{
    width:100%;
  }
}

@media (max-width: 950px) {

  .showcase-content {
    justify-content: space-between;
    margin:2%;
  }
}

.showcase-text h1{
  font-size: calc(4vw + 4vh + 2.5vmin); /* automatically scales text */
  text-transform: uppercase;
  font-weight: lighter;
  font-style: italic;
  font-family: 'Playfair Display SC', serif;
  line-height: 100px;
  padding:1% 0;
}

.showcase-text p{
  font-size: calc(.5vw + .5vh + .6vmin);
  padding:3% 0;
  line-height: 25px;
  font-family: 'Karla', sans-serif;
  width:90%;
}


/* -------------------------------- BUTTONS -----------------------------------*/

.showcase-btn button {
  background-color:rgb(249,227,215);
  border:1px solid black;
  cursor:pointer;
  height: 40px;
  width:200px;
  font-size: .65rem;
  font-weight:bold;
  text-transform: uppercase;
font-family: 'Poppins', sans-serif;
  letter-spacing: .15rem;
  margin:10px 0;

}
.showcase-btn button:hover{
  background:#fff;
  border: 1px solid white;
  color:black;
  transition:600ms ease-in-out;
}


/*--------------------------------- MENU STYLES -------------------------------*/
.menu-wrap {
  position: fixed;
  top: 40px;
  left: 35px;
  width:60px;
  opacity: 1;
  height:100vh;
  background-color: white;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu > div > div {
  opacity: 0;
  transition: opacity 0.4s ease;
  width:50px;
}

.menu-wrap .menu > div > div > ul {
  display:flex;
  flex-direction: row-reverse;
  align-items: space-between;
  transform: rotate(-90deg);
  margin-top:120px;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: black;
  font-size:0.65rem;
  padding: 1.5rem;
  font-weight:bold;
  text-transform: uppercase;
font-family: 'Poppins', sans-serif;
  letter-spacing: .15rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: black;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li:hover a, 
.icons a:hover i {
  opacity:0.4;
  transition: opacity 1s ease;
}

/* ----------------------------- ICONS -------------------------------------*/

.icons {
	position:fixed;
	right:57px;
	top:50%;
	transform:translateY(-50%);
}

.icons li {
list-style: none;
padding: 20px 0;
}

.icons a {
text-decoration: none;
list-style: none;
color: black;
font-size: 1.2rem;
}
