/* Global */
* {
	margin:0;
	padding:0;	
	box-sizing: border-box;
}

h1, h2, p, a {
font-family: 'Quicksand', sans-serif;
	text-align: center;
}

h1 {
	color: rgb(1,83,99);
	font-size: 40px;	
	font-weight: lighter;
}

h2 {
font-size: 23px;
}

.container {
	margin:0 100px;
}

/* Header and nav */

header {
	background-color: #C0E3E7;
}

nav {
display:flex;
justify-content: space-around;
align-items: center;
height:8vh;
}


@media screen and (max-width:1024px){
	.nav-links {
		width:50%;
	}
}

@media screen and (max-width:768px){
body {
	overflow-x:hidden;
}

/* Showcase */

#showcase {
	background-image: url(http://kimberlyana.github.io/css/noclouds.png);
	background-size:cover;
	background-position: bottom;
	opacity:.5s;
	min-height:800px;
	text-align: center;
}

#showcase h1 {
	font-size: 80px;
	padding-top:100px;
	margin:0;
	font-family: 'Sacramento', cursive;
}

#showcase p {
	color: #7596A2;	
	margin:-10px;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

/* animations */

.cloud {
	position: relative;
	width: 130px;
	height: 40px;
	border-radius: 50px;
	background:#fff;
	animation: move 10s linear infinite;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
}


.cloud:before
{
	content:'';
	position: absolute;
	top:-20px;
	left: 25px;
	background:#fff;
	width:40px;
	height:40px;
	border-radius: 50%;
}

.cloud:after
{
	content:'';
	position: absolute;
	top:-25px;
	left: 55px;
	background:#fff;
	width:50px;
	height:50px;
	border-radius: 50%;
}


.left-cloud {
	position:absolute;
	top:50%;
	left:18%;
	transform: translate(-50%, -50%);
		animation: move 10s linear infinite;
}

.middle-cloud {
	position:absolute;
	top:60%;
	left:60%;
	transform: translate(-50%, -50%);
		animation: move 6s linear infinite;
}

.right-cloud {
	position:absolute;
	top:40%;
	left:70%;
	transform: translate(-50%, -50%);
		animation: move 12s linear infinite;
}

@keyframes move {
	0%
	{
		transform: translate(0);
	}

		50%
	{
		transform: translate(18px);
	}

		100%
	{
		transform: translate(0);
	}
}
